head,
body {
    height: auto;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: right;
    background-image: url("../images/gameKuboImages/pozadie.jpg");
    background-attachment: fixed;
}

.col-md {
  
  padding-bottom: 10px;
}
h4{
  color: red;
}
