head,
body {
    background-position: center;
    background-attachment: fixed;
    background-image: url("../resources/background.jpg");
}

.img {
    object-fit: cover;

  width: 250px;
  height: 277px;
}
.container {
    text-align: center;
    color: black;
    background-color: rgba(163, 163, 163, 0.8);
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.nadpis {
    text-align: center;
    font-size: 36px;
}